body {
    font-family: Arial;
    background: linear-gradient(90deg, rgba(6,0,96,1) 0%, rgba(0,0,255,1) 43%, rgba(0,212,255,1) 100%);
    margin: auto;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 600%;
    color: whitesmoke;
}

#atvalto{
    display: grid;
    margin-left: 20%;
    margin-right: 20%;
}

#input{
    background-color: black;
    color: gainsboro;
    border-radius: 10px;
    width: 50%;
    height: 180%;
    font-size: larger;
    margin: auto;
    border: none;
    box-shadow: 0 0 40px 5px blue;
}

#system{
    margin: auto;
    width: 33%;
    height: 66%;
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: larger;
    background: linear-gradient(-90deg, rgb(176, 176, 176), rgb(89, 89, 89));
}

option{
    background-color: silver;
}

#atvaltas{
    font-variant: small-caps;
    margin: auto;
    width: 20%;
    height: 180%;
    font-size: larger;
    border-radius: 25px;
    background-color: rgb(167, 167, 255);
    border: 2px solid black;
}


#parag{
    text-align: center;
    color: white;
    font-size: 400%;
    background-color: rgba(1, 1, 1, 0.1);
}


/* plusz */

#atvaltas:hover{
    background-color: rgb(96, 96, 255);
    border: 2px solid white;
}

@media (min-width: 600px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}
